header {
    padding: 20px 24px 40px;
    border-bottom: 1px #D6D6D6 solid;
}

header .logo  {
    font-family: 'Courgette', cursive;
    font-weight: 800;
    font-size: 23px;
    color: #191C47;
    margin-bottom: 40px;
    padding-top: 3px;
}

header .list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #191C47;
    line-height: 1.5;
}

header .sign_up {
    position: absolute;
    top: 22px;
    left: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #191C47;
    padding: 7px 22px;
    border-radius: 4px;
    text-transform: uppercase;
}


@media screen and (min-width:768px) {
    header {
        margin: 0 auto;
        padding: 20px 40px 40px;
        display: flex;
    }
    
    header .logo  {
        font-size: 28px;
        margin-bottom: 0;
        padding-top: 1px;
        margin-right: 80px;
    }
    
    header .list {
        padding-top: 9px;
        width: 45%;
        display: flex;
        justify-content: space-between;
    }
    
    header .sign_up {
        left: 80%;
    }  
}
    
@media screen and (min-width:1024px) {
    header {
        padding: 20px 50px 40px;
    }
    
    header .logo  {
        font-size: 30px;
        margin-right: 145px;
    }
    
    header .list {
        font-size: 16px;
    }
    
    header .sign_up {
        left: 84%;
        font-size: 18px;
    }  
}