.section1 {
background: url(../img/pexels-mobile1.jpg) no-repeat;
background-position: bottom;
height: 700px;
padding: 40px 24px 70px;
border-bottom: 1px #D6D6D6 solid;
}

.wrapper h1 { 
   text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #191C47;
    text-transform:capitalize ;
    margin-bottom: 30px;
}

.wrapper p {
text-align: center;
font-family:'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
color: #191C47;
margin-bottom: 40px;
}

.learn_more {
    display: block;
    margin: 0 auto;
    background-color: #242234;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .section1 {
        background: url(../img/pexels-tablet.jpg) no-repeat;
        background-position: bottom;
        height: 750px;
        }
}

@media screen and (min-width:1024px) {
    .section1 {
        background: url(../img/pexels.jpg) no-repeat;
        background-position: right 65px top 40px;
        height: 420px;
        }

        .wrapper {
        width: 50%;
        }

        .wrapper h1 {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 35px;
        }
}
